@using TPI_UTN.Models
@model PromocionProducto

<h1>Edita el producto @Model.oProducto.nombre de @Model.oPromocion.nombre</h1>

<form asp-action="EditarProducto" asp-controller="Promocion" method="post">

    <input asp-for="id" type="hidden" class="form-control" value="@Model.id" />
    <div>
        <label>Producto ID</label>
        <input asp-for="producto" type="text" class="form-control" value="@Model.producto" />
        <small class="form-text text-muted">¿No recuerda el ID?.</small>
        <a asp-area="" asp-controller="Producto" asp-action="Index" class="btn btn-secondary">Ver productos</a>
    </div>
    <label>Fecha inicio</label>
    <input asp-for="fechaInicio" type="text" class="form-control" placeholder="AAAA-MM-DD" value="@Model.fechaInicio" />
    <label>Fecha final</label>
    <input asp-for="fechaFinal" type="text" class="form-control" placeholder="AAAA-MM-DD" value="@Model.fechaFinal" />

    <input asp-for="promocion" type="hidden" class="form-control" value="@Model.promocion" />


    <button type="submit">Enviar</button>



</form>
