@using TPI_UTN.Models
@model Promocion
<h1>Productos de la promocion @Model.nombre</h1>

<a asp-action="AgregarProducto" asp-controller="Promocion" asp-route-id="@Model.id" class="btn btn-primary">Agregar producto a la promoción</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Imagen</th>
            <th scope="col">Producto</th>
            <th scope="col">Fecha inicio</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>


    @foreach (var item in Model.PP)
    {
        <tbody>
            <tr>
                <th scope="row">@item.id</th>
                <td><img width="50px" height="50px" src="@item.oProducto.imagen"></img></td>
                <td>@item.oProducto.nombre</td>
                <td>@item.fechaInicio</td>
                <td>@item.fechaFinal</td>

                <td>
                    <a asp-area="" asp-controller="Promocion" asp-action="EditarProducto" asp-route-id="@item.id" asp-route-promocion="@item.promocion" asp-route-producto="@item.producto"  class="btn btn-secondary">Modificar</a>
                    <a asp-area="" asp-controller="Promocion" asp-action="EliminarProducto" asp-route-id="@item.id" asp-route-promocion="@item.promocion" asp-route-producto="@item.producto" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    }

</table>