@model List<Usuario>

 <div>
<h4>Listado de Usuarios</h4>
</div>

<hr>

<nav class="navbar bg-light">
    <div class="container-fluid">
        <span class="navbar-text">

            <a asp-action="Guardar" asp-controller="Usuario" class="btn btn-outline-dark" asp-route-id="">Nuevo usuario</a>
        </span>
    </div>
</nav>




    <table class =" table table-bordered table-hover">
        <thead class ="table-secondary">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Tipo Usuario</th>
               <th scope="col">Rol asociado</th>


                <th colspan="3">   Acciones   </th>
                

            </tr>
        </thead>





        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.usuario_id</td>
                    <td>@item.user_nombre</td>
                    <td>@item.user_contrasena</td>
                    <td>@item.user_tipo</td>
                    <td>@item.rolAsociado.tipo_id</td>


                    <td><a asp-action="Editar" asp-controller="Usuario" class="btn btn-secondary" asp-route-id="@item.usuario_id">Editar</a></td>
                    <td><a asp-action="Eliminar" asp-controller="Usuario" class="btn btn-danger" asp-route-id="@item.usuario_id">Eliminar</a></td>
                </tr>
            </tbody>
        }

    </table>
