@model List<Empleado>

<div>
   <h4>Listado de Empleados</h4>
</div>
    
<hr>


  <nav class="navbar bg-light">
<div class="container-fluid">
    <span class="navbar-text">

            <a asp-action="Guardar" asp-controller="Empleado" class="btn btn-outline-dark">Crear Empleado</a>
    </span>
</div>
</nav>



<table class=" table table-bordered table-hover">
    <thead class="table-secondary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">ID Supervisor</th>
            <th scope="col">Usuario empleado</th>
            <th colspan="2">   Acciones   </th>


         
        </tr>
    </thead>





    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.empl_id</td>
                <td>@item.empl_nombre</td>
                <td>@item.empl_apellido</td>
                <td>@item.empl_supervisor_id</td>
                <td>@item.empl_user</td>
              
                <td>
                    <a asp-action="Editar" asp-controller="Empleado" class="btn btn-secondary" asp-route-id="@item.empl_id">Editar</a>
                    <a asp-action="Eliminar" asp-controller="Empleado" class="btn btn-danger" asp-route-id="@item.empl_id">Eliminar</a>
               </td>
            </tr>
        </tbody>
    }

</table>
