@using TPI_UTN.Models
@model Producto

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>

<div class="alert alert-danger d-block align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <p>Recordá que el nuevo producto debe tener un proveedor existente</p>


    <button type="button" class="btn btn-warning"> <a class="dropdown-item" asp-controller="Proveedor" asp-action="Index" target="_blank"> Ver Proveedores</a></button>
</div>

 <section>
<h1>Agregar Producto</h1>
<div class="formulario">
    <form asp-action="Guardar" asp-controller="Producto" method="post">

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input asp-for="nombre" type="text" class="form-control" id="NuevoProdNombre" placeholder="Nombre del producto">
        </div>

        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <textarea asp-for="descripcion" type="text" class="form-control" cols="20" rows="3" id ="NuevoProdDescripcion">Describe el producto...</textarea>
        </div>

        <div class="form-group">
            <label for="descripcion">Imagen</label>
            <input asp-for="imagen" type="url" class="form-control" id ="NuevoProdImagen" placeholder="Ingrese la URL de una imagen...">
        </div>

        <div class="form-group">
            <label for="precio">Precio unitario</label>
            <input asp-for="precio"  class="form-control" id="NuevoProdPrecio" placeholder="Precio unitario">
        </div>

        <div class="form-group">
            <label for="precio">Stock disponible</label>
            <input asp-for="stock" type="number" class="form-control" id="NuevoProdStock" >
        </div>

        <div class="form-group">
            <label for="precio">Proveedor</label>
            <input asp-for="proveedor" type="text" class="form-control" id="NuevoProdProveedor" placeholder="Sólo puede poner un proveedor existente." >
            <a asp-area="" asp-controller="Proveedor" asp-action="Guardar" class="form-text text-muted smallLink">¿Es un nuevo proveedor? Registrelo primero.</a>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>

    </form>
</div>
</section>

@*
@using (Html.BeginForm())
{
    <!-- ID -->
    <div class="form-group">
        <label for="idProducto">ID</label>
        <br>
        @Html.EditorFor(Model => Model.id)
        <br>
        <small id="emailHelp" class="form-text text-muted">Debe ser un número entero de no más de 6 dígitos.</small>
        <br>
    </div>
    <!-- NOMBRE -->
    <div class="form-group">
        <label for="nombreProducto">Nombre</label>
        <br>
        @Html.EditorFor(Model => Model.nombre)
        <br>
    </div>
    <!-- PRECIO -->
    <div class="form-group">
        <label for="precioProducto">Precio</label>
        <br>
        @Html.EditorFor(Model => Model.precio)
        <br>
    </div>
    <!-- PROVEEDOR -->
    <div class="form-group">
        <label for="proveedorProducto">Proveedor</label>
        <br>
        @Html.EditorFor(Model => Model.proveedor)
        <br>
    </div>
    <!-- STOCK -->
    <div class="form-group">
        <label for="stockProducto">Stock</label>
        <br>
        @Html.EditorFor(Model => Model.stock)
        <br>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Agregar</button>
}

*@

























@*<form>
    <div class="form-group">
        <label for="idProd">ID</label>
        <input class="form-control" id="idProd" placeholder="Ingrese un identificador" value="">
        <small id="emailHelp" class="form-text text-muted">Debe ser un número entero de no más de 6 dígitos.</small>
    </div>
    <div class="form-group">
        <label for="@nombre">Nombre</label>
        <input class="form-control" id="nombreProd" placeholder="Ingrese el nombre del producto" value="">
    </div>
    <div class="form-group">
        <label for="@precio">Precio</label>
        <input class="form-control" id="precioProd" placeholder="Ingrese el precio unitario del producto" value="">
    </div>
    <div class="form-group">
        <label for="@proveedor">Proveedor</label>
        <input class="form-control" id="provProd" placeholder="Ingrese el nombre del proveedor del producto" value="">
    </div>
    <div class="form-group">
        <label for="@stock">Stock</label>
        <input class="form-control" id="provStock" placeholder="Ingrese la cantidad de unidades disponibles" value="">
    </div>


    @{
        Producto nuevoProducto = new Producto(id, nombre, precio, proveedor, stock);
       
    }
    <a asp-area="" asp-controller="Producto" asp-action="AgregarProducto(@nuevoProducto)"><button type="submit" class="btn btn-primary">Agregar</button></a>
</form>*@

