@using TPI_UTN.Models.Proveedor
@model List<Proveedor>

<div>
    <h4>Proveedores</h4>
</div>

<hr>
<nav class="navbar bg-light">
    <div class="container-fluid">
        <span class="navbar-text">

            <a asp-area="" asp-controller="Proveedor" asp-action="Guardar" class="btn btn-outline-dark">Agregar proveedor</a>
        </span>
    </div>
</nav>


<table class=" table table-bordered table-hover">
    <thead class="table-secondary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">CUIT</th>
            <th scope="col">Categorías</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Proveedor item in this.Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.nombre</td>
                <td>@item.direccion</td>
                <td>@item.cuit</td>
                    <td><a asp-area="" asp-controller="Proveedor" asp-action="Categorias" asp-route-id="@item.id" class="btn btn-outline-info">Ver categorías</a></td>
                <td>
                        <a asp-area="" asp-controller="Proveedor" asp-action="Editar" asp-route-id="@item.id" class="btn btn-secondary">Modificar</a>
                        <a asp-area="" asp-controller="Proveedor" asp-action="Eliminar" asp-route-id="@item.id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
            
</table>
