@model List<Cliente>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Administrador de clientes</h2>

<a asp-action="Guardar" asp-controller="Cliente" class="btn btn-primary">Crear Cliente</a>



<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cuil</th>
            <th scope="col">DNI</th>
            <th scope="col">Razon Social</th>
            <th scope="col">Usuario</th>
            <th scope="col">ACCIÓN</th>
        </tr>
    </thead>



   

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.clie_id</td>
                <td>@item.clie_nombre</td>
                <td>@item.clie_apellido</td>
                <td>@item.clie_cuil</td>
                <td>@item.clie_dni</td>
                <td>@item.clie_razon_social</td>
                
                <td><a asp-action="Editar" asp-controller="Cliente" class="btn btn-secondary" asp-route-id="@item.clie_id">Editar</a></td>
                <td><a asp-action="Eliminar" asp-controller="Cliente" class="btn btn-danger" asp-route-id="@item.clie_id">Eliminar</a></td>
            </tr>
        </tbody>
    }

</table>




