@model List<Cliente>

 <div>
   <h4>Listado de Clientes</h4>
</div>

<hr />
<nav class="navbar bg-light">
    <div class="container-fluid">
        <span class="navbar-text">

            <a asp-action="Guardar" asp-controller="Cliente" class="btn btn-outline-dark">Crear Cliente</a>

        </span>
    </div>
</nav>


<table class=" table table-bordered table-hover">
    <thead class ="table-secondary">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cuil</th>
            <th scope="col">DNI</th>
            <th scope="col">Razon Social</th>
            <th colspan="2"> Acciones</th>
             
        </tr>
    </thead>



   

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.clie_id</td>
                <td>@item.clie_nombre</td>
                <td>@item.clie_apellido</td>
                <td>@item.clie_cuil</td>
                <td>@item.clie_dni</td>
                <td>@item.clie_razon_social</td>
                
                <td>
                    <a asp-action="Editar" asp-controller="Cliente" class="btn btn-secondary" asp-route-id="@item.clie_id">Editar</a>
                    <a asp-action="Eliminar" asp-controller="Cliente" class="btn btn-danger" asp-route-id="@item.clie_id">Eliminar</a>
                </td>
            </tr>
        </tbody>
    }

</table>




